body::after {
    content: "";
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#form {
    border: 1px solid black;
    margin: 0px auto;
    margin-top: 20px;
    width: 30%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid beige;
    box-sizing: border-box;
}

.container {
    padding: 16px;
}

.button {
    border-radius: 5px;
    background-color: goldenrod;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}